<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name"><br><br>
        <textarea cols="30" rows="10" name="content" ></textarea><br><br>
        <input type="file" name="image" placeholder="Image"><br><br>
        <input type="number" name="stock" placeholder="Stock"><br><br>
        <select name="category_id">
            <option value="{{category.id}}">Choose category</option>
            {% for category in categories %}
                <option value="{{category.id}}">{{category.name}}</option>
            {% endfor%}
        </select><br><br>
        <input type="number" name="price" placeholder="Price"><br><br>
        <input type="number" name="rating" placeholder="Rating"><br><br>
        <input type="submit" value="Save">
    </form>
</body>
</html>